
@media screen and (min-width: 0) {
    .menu{
        display: inline;
    float: right;
        height: 80px;
        padding:25px;
    }
}
@media screen and (min-width: 768px) {
    .cabecalho {
        z-index: 1;

    }

    .menu{
        float: right;
        margin-top: 1%;
        width: 50%;

    }

}


@media screen and (min-width: 992px) {
    .menu{
        float: right;
        margin-top: 1%;
        width: 33%;
        min-height: 100%;
    }
}
